[Unit]
Description=Gunicorn instance to serve Django Project - modepak_site
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/root/mamaco_mine/WorkingDirectory
ExecStart=/root/mamaco_mine/venv/bin/gunicorn \
          --workers 3 \
          --bind 192.168.5.125:8000 \
          setup.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
